<script defer src="/js/client.js"></script>
<div class="wrapper">
  <div class="full-screen">
    <div class="full-screen__body">
      <div class="full-screen__title"><p>RELAX</p></div>
      <div class="full-screen__text">
        <div id="buttons" >
          <button type="button" class="btn">Стартуем</button>
        </div>
      </div>
      <div id="image" >
        <div id="img">

        </div>
      </div>
    </div>
    <video preload="auto" loop muted autoplay class="full-screen__video">
      <source src="/video/1.mp4" type='video/mp4'>
    </video>
  </div>
</div>

